apiVersion: v1
baseDomain: {{ baseDomain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform:
    openstack:
      type: {{ worker_flavor }}
  replicas: {{ worker_replicas }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform:
    openstack:
      type: {{ master_flavor }}
  replicas: {{ master_replicas }}
metadata:
  creationTimestamp: null
  name: {{ project_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  openstack:
    apiFloatingIP: {{ api_floating_ip }}
    apiVIP: 10.0.0.5
    cloud: openstack
    externalDNS: ["8.8.8.8"]
    externalNetwork: External
    ingressVIP: 10.0.0.7
    ingressFloatingIP: {{ ingress_floating_ip  }}
publish: External
pullSecret: '{{ pull_secret }}'
sshKey: |
  {{ ssh_key }}

